<div class="container bg-light bg-opacity-75 p-2 w-50">
  <div class="d-flex flex-column align-items-center border border-primary">
    <h3 class="mb-3">Login</h3>
    <form class="formControl col-8 p-3 m-3">
      <label for="" class="form label">Usuario</label>
      <input type="text" class="form-control mb-3" />
      <label for="" class="form label">Contraseña</label>
      <input type="password" class="form-control" />
      <button class="btn form-control mt-5 btn-primary">Ingresar</button>
    </form>
  </div>
</div>
